* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

body {
    background-color:#F8F9FE;
    color:#333;
    line-height:1.5;
}

header {
    text-align:center;
    background-color:orange;
    color:white;
    padding:20px 10px;
    border-bottom:2px solid black;
}

header h1 {
    font-size:2.2rem;
    letter-spacing:1px;
}
header p {
    font-size:1.2rem;
    letter-spacing:1px;
    margin-top:5px;
}

nav {
    text-align:center;
    background-color:#333;
    padding:12px 0px;
}

nav a {
    color:white;
    text-decoration:none;
    padding:10px 20px ;
    font-weight:500;
    transition: 0.5s;
}


nav a:hover {
    background-color:black;
    border-radius:10px;
}

section {
    padding:40px 10%;
}

section h2,section h3 {
    color:rgb(255, 155, 83);
    margin-bottom:10px;
    border-bottom:2px solid gray;
    display:inline-block;;
    padding-bottom:5px;
}

ul {
    list-style-type:square;
    margin-left:20px;
    margin-bottom:20px;
}

ul li {
    padding:5px 0;
    font-size:1.1rem;
}

table {
    width:100%;
    border-collapse:collapse;
    margin:20px 0;
    background-color:white;
    border-radius: 10px;
    overflow:hidden;
    box-shadow: 0 2px 6px;
}

th {
    background-color:rgb(255, 155, 83);
    color:white;
    padding:10px;
}

td {
    padding:10px;
    border-bottom:2px solid black;
    text-align:center;
}

tr:hover {
    background-color:#fff1e0;
}


img {
    display:block;
    margin:20px auto;
    width:40%;
    border-radius:15px;
    box-shadow:0 3px 10px;
}

form  {
    background-color:#fff1e0;
    padding:25px;
    border-radius:10px;
    width:40%;
    margin:20px auto;
    box-shadow:0 2px 6px;
}

form label {
    display:inline-block;
    width:100%;
    font-weight:bold;
    
}

form input {
    width:60%;
    padding:8px;
   border:1px solid black;
   border-radius: 5px;
   transition:0.5s;

}

button {
    background-color:rgb(255, 155, 83);
    color:white;
    padding:8px 10px;
    border-radius:7px;
    cursor:pointer;
    transition:0.5s;
}

button:hover {
    background-color:#e67803;
}


footer {
    background-color:#333;
    color:white;
    text-align:center;
    padding:20px;
}

footer a {
    color:#ffbb33;
    text-decoration:none;
}

footer a:hover {
    text-decoration:underline;
}

